/* Main Page*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(rgb(255, 255, 255), rgb(130, 202, 207));
    display: flex;
    flex-direction: column;
  }

.title{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 110, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    margin: 30px;
    color: rgba(0, 110, 255);
    font-style: italic;
}

.card{
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 40px;
  padding: 130px;
}

.imagei{
  box-shadow: 0px 0px 20px rgba(0, 110, 255);
  border-radius: 20px;
}

.lcr-container,
.hcr-container{
  max-width: fit-content;
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 110, 255);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.lcr,
.hcr{
  font-weight: bold;
  font-size: 24px;
}


/* High Calories Recipes */

.content{
  display: flex;
  gap: 32px;
  max-width: fit-content;
  padding-left: 200px;
}

.left{
  margin-right: 200px;
}

.imagehc{
  box-shadow: 0px 0px 20px rgba(0, 110, 255);
  border-radius: 220px;
}

.details{
    text-align: center;
  }
  
.ih,
.dh {
    font-size: 26px;
    text-align: center;
    font-weight: 900;
}
.dh{
  color: rgb(0, 110, 255);
}

.nutrition{
    font-weight: bold;
    text-align: center;
}

.ihcontainer{
  width: 600px;
  border: 2px solid white;
  text-align: left;
  padding-left: 0px;
  margin: 16px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}

.dhcontainer{
  width: 600px;
  border: 2px solid rgb(255, 255, 255);
  text-align: left;
  padding-left: 0px;
  margin: 16px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 110, 255);
}


/* Low Calories Recipes */



.details.LC{
    text-align: center;
  }
  
.il,
.dl {
    color: rgb(0, 138, 30);
    font-size: 20px;
    text-align: center;
}

.nutrition{
  font-weight: bold;
  text-align: center;
}

.ilcontainer{
  width: 600px;
  border: 2px solid black;
  text-align: left;
  padding-left: 0px;
  margin: 16px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}

.dlcontainer{
  width: 600px;
  border: 2px solid black;
  text-align: left;
  padding-left: 0px;
  margin: 16px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}